*{
    background-color: rgb(135, 98, 98);
}

button{
    font-size: 30px;
}
h1,h2{
    font-size: 50px;
    color: rgb(10, 1, 68);
}
 /* the id selector */

 #signup {
    background-color: #00b4d8;
    color: #ff006e;
 }
 .btn {
    color: blue;
 }
 .post a {
    color: green;
 }
 li a {
    color: green;
 }