/* *{
    background-color: rgb(135, 98, 98);
} */
button{
    font-size: 30px;
}
h1,h2{
    font-size: 50px;
    color: rgb(10, 1, 68);
}
 /* the id selector */

 #signup {
    background-color: #00b4d8;
    color: #ff006e;
 }
 .btn {
    color: blue;
 }
 .post a {
    color: green;
    text-decoration: none;
 }
 li a {
    color: green;
    text-decoration: none;
 }

 input[type="text"] {
   color: yellowgreen;
 }
 /* footer[class="foot"]{
   background-color: blue;
 } */
 footer.foot {
   background-color: goldenrod;
 }

 a[href*="google"]{
   color: #ff006e;
 }

 button:hover {
   background-color: red;
   color: azure;
 }

 a:hover {
   text-decoration: underline;
 }
 .post button {
   background-color: #2a9d8f;
 }

 .post:nth-of-type(2n) {
   background-color: aquamarine;
 }

 h2::first-letter{
   font-size: 100px;
 }
 ::selection{
   color: whitesmoke;
 }