<%-include('Partials/head')%>
<body>
    <%-include('Partials/Navbar')%>
    <h1>All Cats</h1>
    <%for(let cat of cats){%>
        <ul>
            <li><%= cat %></li>
        </ul>
    <%}%>
</body>
</html>