section {
    background-color: aquamarine;
    width: 600px;
    height: 600px;
}
div{
    background-color: black;
    width: 70%;
    height: 40%;
    /*this is an example of using percentage values that is taking percentage from the parent
    element and using it.*/
}
h1{
    font-size: 40px;
    border: 1px solid red;
    line-height: 80px;
}

h2{
    font-size: 2em;
    margin-left: 1em;
}
p {
    font-size: 1em;
}
h2 {
    font-size: 1.5em;
}
article {
    font-size:20px;
}
button {
    font-size: 1em;
    padding: 0em 1em;
    border-radius: 1.5em;
    background-color: blueviolet;
    color: white;
}
ul {
    font-size: 0.7em;
}